<%= form_with(model: fifa_team) do |form| %>
  <% if fifa_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fifa_team.errors.count, "error") %> prohibited this fifa_team from being saved:</h2>

      <ul>
        <% fifa_team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :stars %>
    <%= form.text_field :stars %>
  </div>

  <div class="field">
    <%= form.label :career %>
    <%= form.text_field :career %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
