<div class="container" style="background-image: url('https://www.mff.se/app/uploads/2019/09/emblem-bla%CC%8A-bakgrund-1024x576.png'); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;background-color: blue; backgroi width:100%; max-width:100%;">
  <h1 style="padding-bottom:150px; padding-top:120px; margin:0;"><%= @tournament.name %></h1>
</div>

<div class="content" style="background-color: white;">
  <div class ="wrapper" style="position:relative; top:-80px;">

    <div class="card-body drop-shadow">
      <h2>Tabell</h2>

      <table class="table" style="width:calc(100% - 40px); margin:0 auto; margin-bottom:30px;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="no-center">Lag</th>
            <th scope="col">SP</th>
            <th scope="col">V</th>
            <th scope="col">O</th>
            <th scope="col">F</th>
            <th scope="col">+/-</th>
            <th scope="col">=</th>
            <th scope="col">P</th>
          </tr>
        </thead>
        <tbody>
          <% @result.each_with_index do |team, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td class="no-center"><%= team["name"] %></td>
              <td><%= team["played_games"] %></td>
              <td><%= team["wins"] %></td>
              <td><%= team["draws"] %></td>
              <td><%= team["losses"] %></td>
              <td><%= team["scored_goals"] %>/<%= team["conceded_goals"] %></td>
              <td><%= team["goal_difference"] %></td>
              <td><%= team["points"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <h3 style="margin-bottom:0;">Omgång <%= @games.first.round %></h3>
    <% @games.each do |game| %>

      <%= form_for :game, :url => tournament_game_path(@tournament.id, game.id), method: :put do |f| %>
        <div class="card drop-shadow" style="margin:15px 0; border:none; max-height:180px;">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div>
              <div class="d-flex justify-content-start align-items-center">
                <%= f.number_field :home_team_score, class: 'form-control', value: game.home_team_score %>
                <h3 style="margin-bottom:0;"><%= game.home_team.name %></h3>
                <h4 style="margin-bottom:0;"><%= game.home_fifa_team.name %></h4>
                <%= image_tag(game.home_fifa_team.img, style: 'width:70px;')  %>
              </div>

              <div class="d-flex justify-content-start align-items-center">
                <%= f.number_field :away_team_score, class: 'form-control', value: game.away_team_score %>
                <h3 style="margin-bottom:0;"><%= game.away_team.name %></h3>
                <h4 style="margin-bottom:0;"><%= game.away_fifa_team.name %></h4>
                <%= image_tag(game.away_fifa_team.img, style: 'width:70px;')  %>
              </div>
            </div>
            <div>
              <%= f.submit "Uppdatera", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= will_paginate @games, :page_links => false, :previous_label => '<i class="fas fa-arrow-left"></i>', :next_label => '<i class="fas fa-arrow-right"></i>' %>

    </div>
  </div>